<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fds.backend.file.FileAssetMapper">
    <insert id="create">
        INSERT INTO files(id, path, folder, status)
        VALUES(#{id}, #{path}, #{folder}, #{status})
    </insert>
</mapper>
